@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0e0d0d;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    font-family: 'Roboto', sans-serif;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.innerContainer {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}

.line {
    background-color: #fd0d0d;
    width: 0vw;
    height: 3px;
    position: absolute;
    transition: width 0.5s ease-in-out;
}

.box {
    border: 2px solid white;
    font-size: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box:hover {
    background-color: #0d6efd4f;
}

.infoContainer {
    padding: 0 35px;
}

.imgbox img {
    width: 0vw;
    transition: width 1s ease-in-out;
}

/* Utility class */

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.fa-solid {
    cursor: pointer;
}

@media (min-width: 426px) and (max-width: 768px) {

    .gameContainer {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .infoContainer {
        margin-top: 35px;
    }

    .infoContainer h1 {
        font-size: 25px;
    }

    .btn {
        font-size: 10px;
    }
}

@media (max-width: 425px) {

    .gameContainer {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .innerContainer {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

    .infoContainer {
        margin-top: 35px;
    }

    .infoContainer h1 {
        font-size: 23px;
    }

    .btn {
        font-size: 10px;
    }
}